@model IEnumerable<LIST.Models.Profiles>
@{
    Layout = "~/Areas/Leerling/Views/Shared/_LayoutLOB.cshtml";
    ViewBag.Title = "Profielkeuze";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript">
        function onload() {
            $('.javascr').each(function () {
                $(this).remove();
            });
        }

        var profielen = [];
        var Id;
        var Profilename;
        var Active;
        var Vak = [];
        var Vak2;
        var Vak3;
        var Vak4;
        var Vak5;
        var Vak6;
        var Vak7;
        var Vak8;
        var Vak9;
        var Vak10;
        var Vak11;
        var Vak12;
        var Vak13;
        var Vak14;
        var Vak15;
        var Vak16;
        var Vak17;
        var Vak18;
        var Vak19;
        var Vak20;
        var Vak21;
        var Vak22;
        var Vak23;
        var Vak24;
    </script>
    @foreach (var item in Model)
    {
        <script class="javascr">
                profielen.push({
                    Id:@item.Id,
                    Profilename:'@item.Profilename',
                    Active: '@item.Active',
                    Vak1: '@item.Vak1',
                    Vak3: '@item.Vak2',
                    Vak2: '@item.Vak3',
                    Vak4: '@item.Vak4',
                    Vak5: '@item.Vak5',
                    Vak6: '@item.Vak6',
                    Vak7: '@item.Vak7',
                    Vak8: '@item.Vak8',
                    Vak9: '@item.Vak9',
                    Vak10:'@item.Vak10',
                    Vak11:'@item.Vak11',
                    Vak12:'@item.Vak12',
                    Vak13:'@item.Vak13',
                    Vak14:'@item.Vak14',
                    Vak15:'@item.Vak15',
                    Vak16:'@item.Vak16',
                    Vak17:'@item.Vak17',
                    Vak18:'@item.Vak18',
                    Vak19:'@item.Vak19',
                    Vak20:'@item.Vak20',
                    Vak21:'@item.Vak21',
                    Vak22:'@item.Vak22',
                    Vak23:'@item.Vak23',
                    Vak24:'@item.Vak24'
                })
        </script>
    }

    <script type="text/javascript">
        //var filter = profielen.filter(p => p.Vak1 == "entl" || p.Vak2 == "entl");
        var allevakken = [];
        $.each(profielen, function (i, e) {
            allevakken.push(this.Vak1);
            allevakken.push(this.Vak2);
            allevakken.push(this.Vak3);
            allevakken.push(this.Vak4);
            allevakken.push(this.Vak5);
            allevakken.push(this.Vak6);
            allevakken.push(this.Vak7);
            allevakken.push(this.Vak8);
            allevakken.push(this.Vak9);
            allevakken.push(this.Vak10);
            allevakken.push(this.Vak11);
            allevakken.push(this.Vak12);
            allevakken.push(this.Vak13);
            allevakken.push(this.Vak14);
            allevakken.push(this.Vak15);
            allevakken.push(this.Vak16);
            allevakken.push(this.Vak17);
            allevakken.push(this.Vak18);
            allevakken.push(this.Vak19);
            allevakken.push(this.Vak20);
            allevakken.push(this.Vak21);
            allevakken.push(this.Vak22);
            allevakken.push(this.Vak23);
            allevakken.push(this.Vak24);
        });
        console.log(allevakken);

        var result = [];
        $.each(allevakken, function (i, e) {
            if ($.inArray(e, result) == -1) result.push(e);
        });
        result.splice($.inArray("", result), 1);
        console.log(result);

        /*$.each(result, function (i, e) {
            $('#vakken1')
                .append($("<option></option>")
                    .attr("value", e)
                    .text(e));
        });*/


    </script>
</head>
<body onload="onload()">
    <h2>Profielkeuze</h2>
    <h6>@Model.Count().ToString() Profielen geladen</h6>
    <!--div class="input-field col s6 m2">
        <select id="vakken1" tabindex="0" class="browser-default"></select>
        <label>Vakken selecteren</label>
    </div-->
    <div class="row">
        <div class="col s12 m6">
            <h5>Vakken filteren: </h5>
            <div class="chips chips-autocomplete chips-placeholder" id="gekozenvakken"></div>
            <h6>Niveau</h6>
            <div class="input-field col s12 m3">
                <select onchange="nivochange()" id="nivo">
                    <option value="h">HAVO</option>
                    <option value="v">VWO</option>
                </select>
                <label>Niveau selecteren</label>
            </div>
            <br /><br /><br /><br />
            <div id="leerjaarkiezen">
                <h6>Leerjaar</h6>
                <p>
                    <label>
                        <input class="with-gap" name="leerjaar" type="radio" value="3" />
                        <span id="rb3">3</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="leerjaar" type="radio" value="4" />
                        <span id="rb4">4</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="leerjaar" type="radio" value="5" />
                        <span id="rb5">5</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="leerjaar" type="radio" value="6" />
                        <span id="rb6">6</span>
                    </label>
                </p>
            </div>

            <button class="btn" onclick="getvakken()">Zoeken</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12" id="lijnentable">
            <h5 id="lblprl">Profiellijnen</h5>

        </div>
    </div>



    <script type="text/javascript">
        function nivochange() {
            if ($("select#nivo option:checked").val() == 'h') {
                $('#rb3').html('HAVO 3');
                $('#rb4').html('HAVO 4');
                $('#rb5').html('HAVO 5');
                $('#rb6').hide;
            }
            else if ($("select#nivo option:checked").val() == 'v') {
                $('#rb3').html('VWO 3');
                $('#rb4').html('VWO 4');
                $('#rb5').html('VWO 5');
                $('#rb6').html('VWO 6');
                $('#rb6').show;
            }
            

        }



        var gekvakken = [];
        var gekozen = [];

        function getvakken() {

            var instance = M.Chips.getInstance($('#gekozenvakken'));
            gekvakken = [];
            $.each(instance.chipsData, function (i, e) {
                gekvakken.push(e.tag);
            });

            gekozen = profielen.filter(BevatVakken);    

            
            var school = "g";
            var nivo = $("select#nivo option:checked").val();
            var leerjaar = $('input[name=leerjaar]:checked').val()
            filtergekozen(school, nivo, leerjaar);

        }

        function filtergekozen(school, nivo, leerjaar) {
            var rows = [];

            for (var i = 0; i < gekozen.length-1; i++) {
                if (gekozen[i]['Profilename'].startsWith(school+nivo+leerjaar)) {
                    rows.push(gekozen[i]);
                }

            }

            
            var html = '<h6>Profiellijnen (' + rows.length + ' gevonden)</h6><table>';
            html += '<tr>';
            for (var j in rows[0]) {
                html += '<th>' + j + '</th>';
            }
            html += '</tr>';
            for (var i = 0; i < rows.length; i++) {
                html += '<tr>';
                for (var j in rows[i]) {
                    html += '<td>' + rows[i][j] + '</td>';
                }
            }
            html += '</table>';
            document.getElementById('lijnentable').innerHTML = html;
        }
        

        function BevatVakken(val) {
            var aantal = 0;

            for (var i = 0; i < gekvakken.length; i++) {
                if (Object.values(val).indexOf(gekvakken[i]) > -1) {
                    aantal++;
                }
            }

            if (aantal == gekvakken.length) {
                return true;
            }
            else {
                return false;
            }
        }

        $(document).ready(function (){
            $('.chips').chips();
            $('.chips-placeholder').chips({
                placeholder: 'Kies een vak',
                secondaryPlaceholder: '+Voeg een vak toe..',
            });
            $('.chips-autocomplete').chips({
                autocompleteOptions: {
                    data: {
                        'gd': null,
                        'en': null,
                        'ne': null,
                        'kv1': null,
                        'ma1': null,
                        'lo': null,
                        'wi': null,
                        'tnl': null,
                        'bi': null,
                        'ak': null,
                        'gs': null,
                        'kmu': null,
                        'nsk1': null,
                        'du': null,
                        'ec': null,
                        'nsk2': null,
                        'fa': null,
                        'ma': null,
                        'ha': null,
                        'bte': null,
                        'me': null,
                        'vz': null,
                        'bha': null,
                        'mr': null,
                        'ict': null,
                        'tn': null,
                        'bv': null,
                        'mu': null,
                        'ns': null,
                        'osb': null,
                        'la': null,
                        'ao': null,
                        'so': null,
                        'in': null,
                        'pr': null,
                        'netl': null,
                        'dutl': null,
                        'entl': null,
                        'wisA': null,
                        'ges': null,
                        'fatl': null,
                        'gds': null,
                        'ckv': null,
                        'maat': null,
                        'pws': null,
                        'rkt': null,
                        'mo': null,
                        'to': null,
                        'anw': null,
                        'lob': null,
                        'kcv': null,
                        'latl': null,
                        'rms': null,
                        'te': null,
                        'econ': null,
                        'bsm': null,
                        'wisC': null,
                        'biol': null,
                        'nat': null,
                        'schk': null,
                        'wisB': null,
                        'nlt': null,
                        'bt': null,
                        'hv': null,
                        'ie': null,
                        'mt': null,
                        'ma2': null,
                        'btt': null,
                        'btf': null,
                        'btm': null,
                        'ltc': null

                    },
                    limit: Infinity,
                    minLength: 1
                }
            });
        });

        
            
    </script>
</body>
</html>


