@model LIST.Models.Profile
@{
    Layout = "~/Areas/Leerling/Views/Shared/_LayoutLOB.cshtml";
    ViewBag.Title = "Profiel kiezen";

    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>M.toast({ html: '@LIST.Classes.Layout.MessageColor(ViewBag.Message)[0]', classes: '@LIST.Classes.Layout.MessageColor(ViewBag.Message)[1]' });</script>
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <h2>Profiel kiezen</h2>

    <div class="row center-align">
        <div class="col s12 m6">
            @using (Html.BeginForm("KeuzeOpslaan", "Profielkeuze", FormMethod.Post, new { @class = "keuze-form" }))
            {
                <p>Welkom @Html.DisplayFor(m => m.Studentcode);</p>
                <p>Profielnaam: </p>
                @Html.TextBoxFor(m => m.Profilename, new { @class = "black-text", placeholder = "Profiel" });
                <p>Afgevinkt: </p>
                @if (Model.Checked == 1)
                {<b>Afgevinkt</b>}
                else
                { <b>Niet afgevinkt</b>}<br />
                <input type="submit" class="waves-effect waves-light btn" value="Opslaan" />

            }
        </div>

    </div>

    <h2>Weet je niet wat je moet kiezen?</h2>
    <h4>Gebruik dan de @Html.ActionLink("profielkeuzetest","Index")</h4>

    <script>
        $('#hrefprofiel').addClass('active');
        $('#mhrefprofiel').addClass('active');
    </script>

</body>
</html>